.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

html {
    overflow-y: auto;
}

.v-card-title {
    white-space: wrap;
}

.carousel-title {
    font-size: 88px;    
}

.font-size-small-custom {
    font-size: 1.25rem;
}

.font-size-small-custom {
    font-size: 1.25rem;
}

.font-size-large-custom {
    font-size: 3rem;
    line-height: 1.2;
}

.parallax {
    /* The image used */
    background-image: url("/img/1.jpg");

    /* Set a specific height */
    height: 216px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-background {
    opacity: 0.25;
}

.top-margin {
    margin-top: 112px;
}