.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

html {
    overflow-y: auto;
}

.v-label {
    white-space: wrap;
}

.v-card-title {
    white-space: wrap;
}

.v-data-table-header__content {
    font-weight: bold;
}

.carousel-title {
    font-size: 88px;    
}